@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#profile {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}
#profile .inner {
  width: 100%;
  height: 100%;
  padding: 50px;
}
#profile .inner .imgBox {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 100px;
  top: 100px;
}
#profile .inner .imgBox video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#profile .inner .showBox {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 20px;
}
#profile .inner .showBox #termynal {
  width: 100%;
  position: relative;
  bottom: 50px;
}
#profile .inner .showBox #termynal::before {
  position: absolute;
  top: 65px;
}
#profile .inner .showBox #termynal span {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  margin-left: 600px;
}

#skill {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}
#skill .inner {
  width: 100%;
}

#project {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}
#project .inner {
  width: 100%;
}

#about {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}
#about .inner {
  width: 100%;
}

body {
  overflow: hidden;
}
body .menu {
  width: 40%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: -100%;
  bottom: 20vh;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}
body .menu.on {
  right: 0%;
  opacity: 1;
  display: block;
  transition: 1s;
}
body .menu ul::after {
  content: "";
  display: block;
  clear: both;
}
body .menu ul li {
  float: left;
  margin-right: 20px;
}
body .menu ul li a {
  font: bold 15px/1 "apple";
  color: #fff;
}
body .menu ul li:hover a {
  color: yellow;
}
body .menu ul li.on a {
  color: yellow;
}
body .menu div {
  margin-top: 20px;
  font-size: 15px;
  color: white;
}
body .menu div strong {
  font-size: 40px;
  color: #fff;
}
body .btnCall {
  width: 30px;
  padding: 50px 0px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0%;
  bottom: 50%;
  z-index: 5;
}
body .btnCall::before {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 57%;
  left: 0;
  transition: all 0.5s;
  transform: rotate(-45deg);
}
body .btnCall::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 57%;
  left: 0;
  transition: all 0.5s;
  transform: rotate(45deg);
}
body .btnCall span {
  display: block;
  width: 100%;
  height: 0px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9999px;
  transition: all 0.5s;
}
body .btnCall.on::before {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 57%;
  left: 0;
  transition: all 0.5s;
  transform: rotate(45deg);
}
body .btnCall.on::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 57%;
  left: 0;
  transition: all 0.5s;
  transform: rotate(-45deg);
}

body #main {
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
}
body #main .inner {
  width: 100%;
  height: 100%;
  padding: 50px;
}
body #main .inner .showBox {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 20px;
}
body #main .inner .animation span {
  position: absolute;
  top: 35%;
  right: 10%;
  font-size: 100px;
  opacity: 0;
  -webkit-animation: hand 2s 9s normal infinite ease-in-out;
          animation: hand 2s 9s normal infinite ease-in-out;
}
body #main .inner .animation p {
  position: absolute;
  top: 41%;
  right: 18%;
  font-size: 50px;
  opacity: 0;
  -webkit-animation: hand 2s 9s normal infinite ease-in-out;
          animation: hand 2s 9s normal infinite ease-in-out;
}

@-webkit-keyframes hand {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes hand {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}/*# sourceMappingURL=style.css.map */