@import url("https://fonts.googleapis.com/css?family=Fira+Mono");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#profile {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}
#profile .inner {
  width: 100%;
  height: 100%;
  padding: 50px;
}
#profile .inner .imgBox {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 100px;
  top: 100px;
}
#profile .inner .imgBox video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#profile .inner .showBox {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 20px;
}
#profile .inner .showBox #termynal {
  width: 100%;
  position: relative;
  bottom: 50px;
}
#profile .inner .showBox #termynal::before {
  position: absolute;
  top: 65px;
}
#profile .inner .showBox #termynal span {
  width: 100%;
  font-size: 15px;
  line-height: 30px;
  margin-left: 600px;
}
#profile .inner .showBox #termynal .green {
  color: green;
  font-size: 30px;
}

#skill {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}
#skill .inner {
  width: 100%;
  height: 100%;
  padding: 50px;
}
#skill .inner .showBox {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 20px;
}
#skill .inner .showBox #termynal {
  width: 100%;
  position: relative;
  bottom: 50px;
  margin-bottom: 20px;
}
#skill .inner .showBox #termynal::before {
  position: absolute;
  top: 65px;
}
#skill .inner .showBox .tabMenu {
  opacity: 0;
  -webkit-animation: skill 60s 5.5s ease-in-out;
          animation: skill 60s 5.5s ease-in-out;
}
#skill .inner .showBox .tabMenu input[type=radio] {
  display: none;
}
#skill .inner .showBox .tabMenu input[type=radio]:checked + label {
  transform: scale(1.3);
  text-decoration: underline;
}
#skill .inner .showBox .tabMenu input[type=radio]:hover + label {
  transform: scale(1.3);
}
#skill .inner .showBox .tabMenu label {
  display: inline-block;
  padding: 15px;
  position: relative;
  bottom: 80px;
  left: 50px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: 1s;
  z-index: 5;
}
#skill .inner .showBox .tabMenu label img {
  width: 45px;
  height: 55px;
}
#skill .inner .showBox .tabMenu .conbox {
  width: 100%;
  position: absolute;
  bottom: 70px;
  margin: 0 auto;
  display: none;
}
#skill .inner .showBox .tabMenu .conbox img {
  width: 25%;
  height: 100%;
  padding: 50px;
  background: #fff;
  position: relative;
  bottom: 90px;
  left: 60%;
}
#skill .inner .showBox .tabMenu .conbox .textBox {
  width: 50%;
  height: 250px;
  padding: 20px;
  border: 3px dashed #fff;
  margin-left: 60px;
  position: absolute;
  bottom: 0px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .html {
  font-size: 30px;
  margin-bottom: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .html::after {
  content: "100%";
  display: block;
  width: 450px;
  height: 20px;
  border: 1px solid #fff;
  background: green;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  color: #fff;
  margin-top: 10px;
  padding-right: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .css {
  font-size: 30px;
  margin-bottom: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .css::after {
  content: "90%";
  display: block;
  width: 400px;
  height: 20px;
  border: 1px solid #fff;
  background: green;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  color: #fff;
  margin-top: 10px;
  padding-right: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .js {
  font-size: 30px;
  margin-bottom: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .js::after {
  content: "65%";
  display: block;
  width: 300px;
  height: 20px;
  border: 1px solid #fff;
  background: green;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  color: #fff;
  margin-top: 10px;
  padding-right: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .sass {
  font-size: 30px;
  margin-bottom: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .sass::after {
  content: "80%";
  display: block;
  width: 350px;
  height: 20px;
  border: 1px solid #fff;
  background: green;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  color: #fff;
  margin-top: 10px;
  padding-right: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .react {
  font-size: 30px;
  margin-bottom: 10px;
}
#skill .inner .showBox .tabMenu .conbox .textBox .react::after {
  content: "60%";
  display: block;
  width: 300px;
  height: 20px;
  border: 1px solid #fff;
  background: green;
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  color: #fff;
  margin-top: 10px;
  padding-right: 10px;
}
#skill .inner .showBox .tabMenu input[id=tab01]:checked ~ .con1 {
  display: block;
}
#skill .inner .showBox .tabMenu input[id=tab02]:checked ~ .con2 {
  display: block;
}
#skill .inner .showBox .tabMenu input[id=tab03]:checked ~ .con3 {
  display: block;
}
#skill .inner .showBox .tabMenu input[id=tab04]:checked ~ .con4 {
  display: block;
}
#skill .inner .showBox .tabMenu input[id=tab05]:checked ~ .con5 {
  display: block;
}

@-webkit-keyframes skill {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes skill {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
#project {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}
#project .inner {
  width: 100%;
  height: 100%;
  padding: 50px;
}
#project .inner .showBox {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 20px;
}
#project .inner .showBox #termynal {
  width: 100%;
  position: relative;
  bottom: 50px;
}
#project .inner .showBox #termynal::before {
  position: absolute;
  top: 65px;
}
#project .inner .showBox .tabMenu input[type=radio] {
  display: none;
}
#project .inner .showBox .tabMenu input[type=radio]:checked + label {
  transform: scale(1.4);
  text-decoration: underline;
}
#project .inner .showBox .tabMenu input[type=radio]:hover + label {
  transform: scale(1.4);
}
#project .inner .showBox .tabMenu label {
  display: inline-block;
  padding: 20px;
  position: relative;
  bottom: 115px;
  left: 100px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  transition: 1s;
  z-index: 2;
}
#project .inner .showBox .tabMenu .conbox {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 100px;
  right: 20px;
  margin: 0 auto;
  display: none;
}
#project .inner .showBox .tabMenu .conbox video {
  width: 50%;
  height: 100%;
  padding: 100px;
}
#project .inner .showBox .tabMenu .conbox .projectLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 3px dashed #fff;
  position: relative;
  bottom: 200px;
  left: 250px;
}
#project .inner .showBox .tabMenu .conbox .textbox {
  width: 53%;
  height: 85%;
  padding: 20px;
  position: absolute;
  top: 20%;
  right: 3%;
  color: #fff;
}
#project .inner .showBox .tabMenu .conbox .textbox #projectTextBox .textTitle {
  display: block;
  font-size: 40px;
  margin-bottom: 10px;
}
#project .inner .showBox .tabMenu .conbox .textbox #tech {
  margin-top: 30px;
}
#project .inner .showBox .tabMenu .conbox .textbox #tech .techTtitle {
  font-size: 25px;
  margin-bottom: 10px;
}
#project .inner .showBox .tabMenu .conbox .textbox #tech .techText {
  margin-bottom: 10px;
}
#project .inner .showBox .tabMenu .conbox .textbox #git {
  margin-top: 30px;
}
#project .inner .showBox .tabMenu .conbox .textbox #git .gitTtitle {
  font-size: 25px;
  margin-bottom: 10px;
}
#project .inner .showBox .tabMenu .conbox .textbox #git .gitLink {
  color: green;
}
#project .inner .showBox .tabMenu .conbox .textbox #git .gitLink:hover {
  text-decoration: underline;
}
#project .inner .showBox .tabMenu .conbox .textbox #url {
  margin-top: 30px;
}
#project .inner .showBox .tabMenu .conbox .textbox #url .urlTtitle {
  font-size: 25px;
  margin-bottom: 10px;
}
#project .inner .showBox .tabMenu .conbox .textbox #url .urlLink {
  color: green;
}
#project .inner .showBox .tabMenu .conbox .textbox #url .urlLink:hover {
  text-decoration: underline;
}
#project .inner .showBox .tabMenu .conbox .textbox #language {
  margin-top: 30px;
}
#project .inner .showBox .tabMenu .conbox .textbox #language .langTtitle {
  font-size: 25px;
  margin-bottom: 10px;
}
#project .inner .showBox .tabMenu .conbox .textbox #language .langText {
  margin-bottom: 10px;
}
#project .inner .showBox .tabMenu input[id=tab01]:checked ~ .con1 {
  display: block;
}
#project .inner .showBox .tabMenu input[id=tab02]:checked ~ .con2 {
  display: block;
}
#project .inner .showBox .tabMenu input[id=tab03]:checked ~ .con3 {
  display: block;
}
#project .inner .showBox .tabMenu input[id=tab04]:checked ~ .con4 {
  display: block;
}
#project .inner .showBox .tabMenu input[id=tab05]:checked ~ .con5 {
  display: block;
}

#about {
  width: 100vw;
  height: 100vh;
  background: #000;
  color: #fff;
}
#about .inner {
  width: 100%;
}

body {
  overflow: hidden;
}
body .menu {
  width: 40%;
  padding: 50px;
  background: rgba(170, 170, 170, 0.7);
  position: absolute;
  right: -100%;
  bottom: 20vh;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}
body .menu.on {
  right: 0%;
  opacity: 1;
  display: block;
  transition: 1s;
}
body .menu ul::after {
  content: "";
  display: block;
  clear: both;
}
body .menu ul li {
  float: left;
  margin-right: 20px;
}
body .menu ul li a {
  font: bold 15px/1 "apple";
  color: #fff;
}
body .menu ul li:hover a {
  color: yellow;
}
body .menu ul li.on a {
  color: yellow;
}
body .menu div {
  margin-top: 20px;
  font-size: 15px;
  color: white;
}
body .menu div strong {
  font-size: 40px;
  color: #fff;
}
body .btnCall {
  width: 30px;
  padding: 50px 0px;
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0%;
  bottom: 50%;
  z-index: 5;
}
body .btnCall::before {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 57%;
  left: 0;
  transition: all 0.5s;
  transform: rotate(-45deg);
}
body .btnCall::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 57%;
  left: 0;
  transition: all 0.5s;
  transform: rotate(45deg);
}
body .btnCall span {
  display: block;
  width: 100%;
  height: 0px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  text-indent: -9999px;
  transition: all 0.5s;
}
body .btnCall.on::before {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 57%;
  left: 0;
  transition: all 0.5s;
  transform: rotate(45deg);
}
body .btnCall.on::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 57%;
  left: 0;
  transition: all 0.5s;
  transform: rotate(-45deg);
}

body {
  font-family: "Fira Mono", Consolas, Menlo, Monaco, "Courier New", Courier, monospace;
}
body #main {
  width: 100%;
  height: 100vh;
  background: #000;
  color: #fff;
}
body #main .inner {
  width: 100%;
  height: 100%;
  padding: 50px;
}
body #main .inner .showBox {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  padding: 20px;
}
body #main .inner .showBox .green {
  color: green;
}
body #main .inner .animation span {
  position: absolute;
  top: 35%;
  right: 10%;
  font-size: 100px;
  opacity: 0;
  -webkit-animation: hand 2s 9s normal infinite ease-in-out;
          animation: hand 2s 9s normal infinite ease-in-out;
}
body #main .inner .animation p {
  position: absolute;
  top: 41%;
  right: 18%;
  font-size: 50px;
  opacity: 0;
  -webkit-animation: hand 2s 9s normal infinite ease-in-out;
          animation: hand 2s 9s normal infinite ease-in-out;
}

@-webkit-keyframes hand {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

@keyframes hand {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}/*# sourceMappingURL=style.css.map */