@charset "UTF-8";
@import 'reset.scss';
@import 'page/profile';
@import 'page/skill';
@import 'page/project.scss';
@import 'page/about.scss';
@import 'page/layout.scss';

@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
body {
	font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
	#main {
		width: 100%;
		height: 100vh;
		background: #000;
		color: #fff;

		.inner {
			width: 100%;
			height: 100%;
			padding: 50px;
			.showBox {
				width: 100%;
				height: 100%;
				border: 1px solid #fff;
				padding: 20px;
				.green {
					color: green;
				}
			}
			.animation {
				span {
					position: absolute;
					top: 35%;
					right: 10%;
					font-size: 100px;
					opacity: 0;
					animation: hand 2s 9s normal infinite ease-in-out;
				}
				p {
					position: absolute;
					top: 41%;
					right: 18%;
					font-size: 50px;
					opacity: 0;
					animation: hand 2s 9s normal infinite ease-in-out;
				}
			}
		}
	}
}

@keyframes hand {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
		transform: translateX(0px);
	}
	100% {
		opacity: 0;
		transform: translateX(50px);
	}
}
