#about {
	width: 100%;
	height: 100vh;
	background: #000;
	color: #fff;

	.inner {
		width: 100%;
		height: 100%;
		padding: 50px;
		.showBox {
			width: 100%;
			height: 100%;
			border: 1px solid #fff;
			padding: 20px;
			.green {
				color: green;
				font-size: 50px;
			}
			span{
				font-size: 25px;
			}
		}
	}
}
